*{
    padding: 0;
    margin: 0;
}
.logo{ position: absolute;
    background-color: bisque;
    height: 50px;
    width: 50px;
    margin-top: 20px;
    bottom: 125px;
    left: 15px;
}

.box1{
    background-color: rgba(0, 255, 255, 0);
    height: 40px;
    width: 300px;
   position: absolute;
   bottom: 250px;
    left: 100px;
    overflow: hidden;
    max-width: 0;
    border-radius: 50px;
 
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: all 0.2s ease-in-out;
}
.list{
    list-style: none;
    
}
li{
    display: flex;
    gap: 25px;
}
.list  a{
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box2{
    background-color: rgb(166, 255, 0);
    height: 50px;
    width: 50px;
   position: absolute;
   bottom: 150px;
   content: "";
   height: 2px;
   width: 40px;
     left: 20px;
   display: flex;
     transition: all 0.2s ease-in;
}
.box3{
    background-color: aqua;
    height: 50px;
    width: 50px;
    bottom: 140px;
   position: absolute;
   content: "";
   height: 2px;
     left: 20px;
   width: 40px;
   transition: all 0.2s ease-in;
}
.box4{
    background-color: rgb(102, 0, 255);
    height: 50px;
    width: 50px;
    bottom: 160px;
       transition: all 0.2s ease-in;
  
  left: 20px;
  
   position: absolute;
   content: "";
   height: 2px;
   width: 40px;
}

#check:checked ~.box2{
    background-color: rgba(0, 0, 0, 0);
  
}
#check:checked ~.box1{
  max-width: 250px;
    border: 2px solid rgba(0, 0, 0, 0.724);
    box-shadow: 0px 0px 20px aqua;
}
#check:checked ~.box3{
    background-color: black;
      rotate: 45deg;
      bottom: 150px ;
}
#check:checked ~.box4{
    background-color: black;
      rotate: -45deg;
      bottom: 150px ;
}




